LaylaRobot/config.py
LaylaRobot/*.session
LaylaRobot/*.session-journal
LaylaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
LaylaRobot/modules/helper_funcs/temp.txt
LaylaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe
